/* Estilo para a lista suspensa */
.dropdown {
    font-family: "Poppins",sans-serif;  
    background: rgba(0,0,0,0);
    font-size: 14px;
    float:left;
   
   /* 
    overflow: hidden;


    padding-top: 0.5%;
   position: relative;
    display: inline-block;*/
  }
  

  
  /* Estilo para os itens da lista suspensa */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #0c1c74;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #22D4FD;
  }
  
  /* Mostrar os itens quando o botão é hover ou focado */
  .dropdown:hover .dropdown-content {
    display: block;
  }